@{
    ViewBag.Title = "Home Page";
}

<div>

</div>
<div>

</div>

<div class="container">
    <div class="col-log-4">
    <div class="card">
        <div class="card-body">
            <img src="~/Content/Media/AddStudent.jpg" style="width:50%; height:50%" />
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="col-log-4">
        <div class="card">
            <div class="card-body">
                <img src="~/Content/Media/EditStudent.jpg" style="width:50%; height:50%" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-log-4">
        <div class="card">
            <div class="card-body">
                <img src="~/Content/Media/AddProgram.jpg" style="width:50%; height:50%" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-log-4">
        <div class="card">
            <div class="card-body">
                <img src="~/Content/Media/ClassDiagram.jpg" style="width:50%; height:50%" />
            </div>
        </div>
    </div>
</div>


